@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#index h2 {
	margin-top: 3rem;
	color: black;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

.main h2 {
	margin-bottom: 3rem;
}

.main h3 {
	text-decoration: underline;
}

.main ul li {
	padding-bottom: 1rem;
}

.main h4 {
	margin-top: 3rem;
}
