@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#index h2 {
	margin-top: 3rem;
	color: black;
	font-weight: bold;
	font-size: 5rem;
}

#index h3 {
	font-size: 3rem;
	font-weight: bold;
}

.description {
	margin-top: 30px;
	font-size: 20px;
}

.description ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

.description ul li {
	margin-top: 3px;
}
