@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#main {
	background-image: url("https://joellewis97.github.io/CAL-Project/img/triangular.png");
	border-bottom: 0.3rem solid black;
	height: 500px;
	padding: 0px;
	overflow-x: auto;
}

#mainjumbo {
	color: white;
	height: 100%;
}

#index h2 {
	color: black;
	font-weight: bold;
	font-size: 4rem;
}

#casestudies img {
	margin-top: 3rem;
	width: 100%;
	padding: 0;
	padding-bottom: 1rem;
	padding-right: 2rem;
}

#casestudies a {
	color: black;
	font-size: 3rem;
	font-weight: bold;
}
