@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#main {
	background-image: url("https://joellewis97.github.io/CAL-Project/img/triangular.png");
	border-bottom: 2px solid black;
	height: 500px;
	padding: 0px;
	overflow-x: auto;
}

#main .container {
	height: 100%;
}

#main .row {
	height: 100%;
}

.slickslide {
	height: 100%;
}

.slickslide img {
	height: 498px;
}

#index h2 {
	color: black;
	font-weight: bold;
	font-size: 4rem;
}

#casestudies img {
	margin-top: 10px;
	width: 100%;
	padding: 0;
	padding-bottom: 1px;
	padding-right: 2px;
}

#casestudies a {
	color: black;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2px;
}
