@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#main {
	background-image: url("https://joellewis97.github.io/CAL-Project/img/triangular.png");
	border-bottom: 2px solid black;
	height: 500px;
	padding: 0px;
	overflow-x: auto;
}

#main .container {
	height: 100%;
}

#main .row {
	height: 100%;
}


.slickslide {
	height: 100%;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk2A8AAMUAwUPJ2C4AAAAASUVORK5CYII=");
}

.slickslide div {
	height: 100%;
}

.slickslide img {
	height: 498px;
}

#textslide {
	color: white;
	font-size: 4rem;
	text-align: center;
	vertical-align: middle;
}

#index h2 {
	color: black;
	font-weight: bold;
	font-size: 4rem;
}

#casestudies img {
	margin-top: 25px;
	width: 100%;
	padding: 0;
	padding-bottom: 3px;
	padding-right: 5px;
}

#casestudies a {
	color: black;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 10px;
}
