@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#contactinfobar-top {
	width: 100%;
	margin-bottom: 0px;
	margin-right: 10px;
}

#contactinfobar-top p {
	color: white;
	float: right;
	font-style: italic;
	font-size: 14px;
}

.headerbar {
	background-image: url("http://i.imgur.com/6ZlYt21.png");
	background-size: contain;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 0.3rem solid black;
	margin-bottom: 0px;
}

.logo {
	display: inline-block;
	min-width: 300px;
}

.logo img {
	height: 14rem;
	width: auto;
}

.logo h1 {
	padding-left: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 3rem;
	text-shadow: -3px 1px 1px black;
	color: white;
}

.logo a {
	width: 100%;
}

.menu-wrapper {
	background-color: #111;
}

.menu ul {
	list-style: None;
	float: left;
	margin-bottom: 0px;
}

.menu ul li {
	float: left;
	padding-left: 0rem;
	padding-right: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
}

.menu ul li:hover {
	color: #a0a0a0;
}

.menu ul li:active {
	position: relative;
	top: 1px;
}

#index h2 {
	margin-top: 3rem;
	color: black;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

.prefooter {
	margin-top: 2rem;
	height: 10rem;
}

.prefooter img {
	display: block;
	float: right;
}

.main h3 {
	text-decoration: underline;
}

.main ul li {
	padding-bottom: 1rem;
}

.main h4 {
	margin-top: 3rem;
}

.main .search {
        padding:8px 15px;
        background:rgba(50, 50, 50, 0.2);
        border:0px solid #000000;
        border-radius: 5px;
}

.main .search:focus {
	border:1px solid #000000;
	border-radius: 5px;
	outline: none;
}

.main .search-button {
        padding:6px 15px;
        border:2px solid #000;
        border-radius: 5px;
        background-color:#111;
        color:#fafafa;        position:relative;
        padding:6px 15px;
        border:2px solid #111;
        border-radius: 5px;
        background-color:#333;
        color:#fafafa;
}

.main .sort {
	margin-top: 1rem;
	margin-bottom: 3rem;
        padding:6px 15px;
        border:2px solid #111;
        border-radius: 5px;
        background-color:#333;
        color:#fafafa;
}

.main .sort:hover {
        background-color:#999;
        color:#111;
}

#footerjumbo {
    background-image: url("http://i.imgur.com/6ZlYt21.png");
    background-size: contain;
    margin-top: 5rem;
    margin-bottom: 0px;
    padding-top: 3rem;
    border-top: 0.3rem solid black;
    height: 10rem;
}

#contactinfobar-bottom {
	color: white;
	text-align: center;
	font-style: italic;
	font-size: 14px;
}
