@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
	font-family: 'Open Sans';
}

#contactinfobar-top {
	width: 100%;
	margin-bottom: 0px;
	margin-right: 10px;
}

#contactinfobar-top p {
	color: white;
	float: right;
	font-style: italic;
	font-size: 14px;
}

.headerbar {
	background-image: url("http://i.imgur.com/6ZlYt21.png");
	background-size: contain;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 0.3rem solid black;
	margin-bottom: 0px;
}

.logo {
	display: inline-block;
	min-width: 300px;
}

.logo img {
	height: 14rem;
	width: auto;
}

.logo h1 {
	padding-left: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 3rem;
	text-shadow: -3px 1px 1px black;
	color: white;
}

.logo a {
	width: 100%;
}

.menu-wrapper {
	background-color: #111;
}

.menu ul {
	list-style: None;
	float: left;
	margin-bottom: 0px;
}

.menu ul li {
	float: left;
	padding-left: 0rem;
	padding-right: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
}

.menu ul li:hover {
	color: #a0a0a0;
}

.menu ul li:active {
	position: relative;
	top: 1px;
}

#main {
	background-image: url("http://i.imgur.com/528g5ke.jpg");
	background-size: contain;
	border-bottom: 0.3rem solid black;
	height: 50rem;
	padding: 0px;
	overflow-x: auto;
}

#main img {
	display: block;
	width: 100%;
	position: relative;
	margin-top: 3rem;
}

#mainjumbo {
	color: white;
}

.slideshowimage {
	display: none;
	box-shadow: -7px 7px 15px black;
}

.activeslide {
	display: inline;
}

.imagecaption {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk2A8AAMUAwUPJ2C4AAAAASUVORK5CYII=");
	padding: 6rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	height: 42rem;
	text-align: center;
	box-shadow: -7px 7px 15px black;
	overflow-y: auto;
}

.imagecaption p {
	font-size: 3rem;
}

#slideshowbutton img {
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	height: 7rem;
	width: auto;
}

#slideshowbutton-prev {
	float: left;
}

#slideshowbutton img:active {
	position: relative;
	top: 2px;
}

#slideshowbutton-next {
	float: right;
}

#index h2 {
	color: black;
	font-weight: bold;
	font-size: 4rem;
}

#casestudies img {
	margin-top: 3rem;
	width: 100%;
	padding: 0;
	padding-bottom: 1rem;
	padding-right: 2rem;
}

#casestudies a {
	color: black;
	font-size: 3rem;
	font-weight: bold;
}

.prefooter {
	margin-top: 2rem;
	height: 10rem;
}

.prefooter img {
	display: block;
	float: right;
}

#footerjumbo {
    background-image: url("http://i.imgur.com/6ZlYt21.png");
    background-size: contain;
    margin-top: 5rem;
    margin-bottom: 0px;
    padding-top: 3rem;
    border-top: 0.3rem solid black;
    height: 10rem;
}

#contactinfobar-bottom {
	color: white;
	text-align: center;
	font-style: italic;
	font-size: 14px;
}
